---

---

<footer>
  <div class="icons">
    <a href="https://github.com/Andrei-Ghemusi"
      ><img width="25px" height="25px" src="github.svg" alt="github" /></a
    >
    <a href="https://www.linkedin.com/in/andrei-ghemusi-999a12267/"
      ><img width="25px" height="25px" src="linkedin.svg" alt="linkedin" /></a
    >
    <a href=""><img width="25px" height="25px" src="mail.svg" alt="mail" /></a>
    <a href=""><img width="25px" height="25px" src="cv.svg" alt="mail" /></a>
  </div>
</footer>

<style>
  :global(.dark) img {
    filter: invert(100%) sepia(6%) saturate(86%) hue-rotate(297deg)
      brightness(116%) contrast(100%);
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    margin: 40px;
  }
  .icons {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }

  img {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
  }
</style>
